{% extends 'administrator/index.html' %}
                {% block content %}
                <p style="width: 100%;"><h1 style="text-align: center;text-decoration: underline;">Aprovals Pending</h1></p>
                <section class="ap-table" >
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">message</th>
                            <th scope="col">Doctor</th>
                            <th scope="col" colspan="2" style="text-align: center;">Actions</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          {% if k %}
                          {% for i in k %}
                          <tr>
                            <td>{{i.name}}</td><td>{{i.message}}</td><td>{{i.docter}}</td>
                          
                        </tbody>
                        {% endfor %}
                        {% endif %}
                      </table>
                </section>
                
             {% endblock %}
 